.display-large{
    font-family:proxima-nova,sans-serif;
    font-weight:400;
    font-style:normal;
    line-height:120%;
    font-size:3.625rem;
    color:#4c5967
}
.display-medium{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:120%;
    font-size:2.375rem;
    color:#4c5967
}
.title-large{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:120%;
    font-size:1.625rem;
    color:#4c5967
}
.title-medium{
    font-family:proxima-nova,sans-serif;
    font-weight:600;
    font-style:normal;
    line-height:120%;
    font-size:1.375rem;
    color:#4c5967
}
.title-small{
    font-family:proxima-nova,sans-serif;
    font-weight:600;
    font-style:normal;
    line-height:120%;
    font-size:1.125rem;
    color:#4c5967
}
.title-extra-small{
    font-family:proxima-nova,sans-serif;
    font-weight:600;
    font-style:normal;
    line-height:120%;
    font-size:1rem;
    color:#4c5967
}
.body-large{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967
}
.body-large-post{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:170%;
    font-size:1.125rem;
    color:#4c5967
}
.body-medium{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:130%;
    font-size:1rem;
    color:#4c5967
}
.button{
    font-family:proxima-nova,sans-serif;
    font-weight:600;
    font-style:normal;
    line-height:130%;
    font-size:1.125rem
}
.caption{
    font-family:proxima-nova,sans-serif;
    font-weight:700;
    font-style:normal;
    line-height:120%;
    font-size:.625rem;
    color:#4c5967;
    text-transform:uppercase
}
.label,label{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:130%;
    font-size:1rem;
    color:#8a99a8;
    display:block;
    text-align:left
}
*{
    margin:0;
    padding:0;
    outline:0!important;
    list-style:none;
    text-decoration:none;
    -webkit-box-sizing:border-box!important;
    -moz-box-sizing:border-box!important;
    box-sizing:border-box!important;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    text-rendering:optimizeLegibility;
    border-image-source:none;
    border-image-slice:none;
    border-image-width:none;
    border-image-outset:none;
    border-image-repeat:none;
    border-width:0;
    border-style:normal;
    border-color:initial;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
input[type=file]{
    display:none
}
button,input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=file],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select{
    -webkit-appearance:none!important;
    -moz-appearance:none!important;
    -ms-appearance:none!important;
    appearance:none!important
}
input:-webkit-autofill,select:-webkit-autofill,textarea:-webkit-autofill{
    -webkit-box-shadow:0 0 0 1000px #fff inset!important;
    box-shadow:0 0 0 1000px #fff inset!important
}
select:-moz-focusring{
    color:transparent;
    text-shadow:0 0 0 #000
}
input::-webkit-input-placeholder,input::placeholder{
    color:#d1d9e0;
    font-size:1.125rem
}
textarea::-webkit-input-placeholder{
    color:#d1d9e0
}
textarea:-moz-placeholder{
    color:#d1d9e0
}
textarea::-moz-placeholder{
    color:#d1d9e0
}
textarea:-ms-input-placeholder{
    color:#d1d9e0
}
img{
    vertical-align:middle;
    border:none
}
a{
    cursor:pointer
}
button{
    background:0 0
}
body{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#657381
}
p{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#657381
}
.main-wrapper{
    max-width:1250px;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box
}
.post-wrapper{
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box
}
.contact-wrapper{
    max-width:860px;
    margin-left:auto;
    margin-right:auto;
    box-sizing:border-box
}
.flex-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative
}
.gray-background{
    background-color:#f5f7f9;
    width:100%
}
.green-background{
    background-color:#264159;
    width:100%
}
.gray-background-fixed{
    background-color:#f5f7f9;
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    z-index:-1
}
.split__container{
    width:100%;
    max-width:50%
}
@media only screen and (max-width:992px){
    .contact-wrapper,.main-wrapper,.post-wrapper{
        margin-left:20px!important;
        margin-right:20px!important
    }
    .cta__wrapper,.header-wrapper{
        padding-left:20px;
        padding-right:20px
    }
}
@media only screen and (max-width:768px){
    .header-wrapper h1{
        text-align:center
    }
}
.button{
    appearance:none;
    border-radius:4px;
    height:50px;
    text-decoration:none;
    cursor:pointer;
    font-family:proxima-nova,sans-serif;
    font-weight:600;
    font-style:normal;
    line-height:130%;
    font-size:1.125rem;
    text-align:center;
    display:inline-flex;
    align-items:center;
    padding:0 20px;
    background-color:#d1d9e0;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms
}
.button_large{
    height:65px
}
.button_primary{
    color:#fff;
    background-color:#2a526f
}
.button_primary:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#264159
}
.button_secondary{
    color:#657381;
    background-color:#f5f7f9;
    border:solid 2px #b3bfcc
}
.button_secondary:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#eff2f5
}
.button_accent{
    color:#fff;
    background-color:#337ecc
}
.button_accent:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#2e72b8
}
.button_danger{
    color:#fff;
    background-color:#f44434
}
.button_danger:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#d01b0b
}
.button_sublte{
    color:#3d698f;
    background-color:#fff
}
.button_sublte:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#f5f7f9
}
.button_disabled{
    background-color:#f5f7f9;
    color:#c2ccd6;
    pointer-events:none
}
.button_disabled:hover{
    background-color:#f5f7f9;
    color:#c2ccd6
}
.toggle{
    height:24px;
    width:40px;
    background-color:#fff;
    border-radius:24px;
    border:solid 2px #d1d9e0;
    position:relative;
    display:inline-flex;
    align-items:center;
    cursor:pointer
}
.toggle::before{
    content:" ";
    padding:8px;
    display:inline-block;
    background-color:#d1d9e0;
    border-radius:100%;
    position:absolute;
    left:3;
    cursor:pointer
}
.toggle--active{
    background-color:#4d7fb3;
    border:solid 2px #3d698f
}
.toggle--active::before{
    right:3;
    left:auto;
    background-color:#fff
}
.dropdown{
    position:relative;
    padding:12px;
    border-radius:4px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    cursor:pointer
}
.dropdown .dropdown__content{
    border-radius:4px;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 3px 4px rgba(0,0,0,.1);
    position:absolute;
    background-color:#fff;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    right:0;
    top:45;
    opacity:0;
    visibility:hidden;
    min-width:220px;
    max-width:300px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    z-index:100
}
.dropdown .dropdown__content p{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    color:#8a99a8;
    padding:20px;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    text-align:left
}
.dropdown .dropdown__content p img{
    margin-right:5px
}
.dropdown .dropdown__content p:hover{
    background-color:#f5f7f9;
    border-radius:4px
}
.dropdown .dropdown__content p:last-child{
    color:#f44434
}
.dropdown:hover{
    background-color:#adcceb;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
.dropdown:hover .dropdown__content{
    visibility:visible;
    opacity:1;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    color:#4c5967;
    border:solid 2px #d1d9e0;
    width:100%;
    padding:15px 0;
    text-indent:20px;
    resize:none;
    text-align:left;
    height:50px;
    border-radius:4px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    margin-bottom:20px
}
input[type=date]:hover,input[type=datetime-local]:hover,input[type=datetime]:hover,input[type=email]:hover,input[type=month]:hover,input[type=number]:hover,input[type=password]:hover,input[type=search]:hover,input[type=tel]:hover,input[type=text]:hover,input[type=time]:hover,input[type=url]:hover,input[type=week]:hover,select:hover,textarea:hover{
    border:solid 2px #c2ccd6;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,select:focus,textarea:focus{
    border:solid 2px #0080ff;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
textarea{
    height:auto;
    text-indent:0;
    padding:15px
}
.input__group__disabled,.input_disabled{
    color:#d1d9e0!important;
    pointer-events:none!important;
    background-color:#f5f7f9!important;
    border:solid 2px #eff2f5!important
}
.input__group__disabled label,.input_disabled label{
    color:#c2ccd6!important;
    pointer-events:none!important
}
.label__disabled{
    color:#c2ccd6!important;
    pointer-events:none!important
}
.input__group{
    display:flex;
    justify-content:space-between;
    border-radius:4px;
    margin-bottom:20px
}
.input__group input{
    background-color:#f5f7f9;
    border:solid 2px #f5f7f9;
    text-indent:5px;
    margin-bottom:0;
    border-radius:0
}
.input__group input:focus{
    border:solid 2px #f5f7f9
}
.input__group input:hover{
    border:solid 2px #f5f7f9
}
.input__group label{
    width:100%;
    display:flex;
    align-items:center;
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    padding-left:5px;
    background-color:#f5f7f9;
    color:#4c5967;
    cursor:pointer
}
.input__group .input__group__icon__left,.input__group .input__group__icon__right{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:60px;
    position:relative;
    background-color:#f5f7f9
}
.input__group .input__group__icon__left{
    border-radius:4px 0 0 4px
}
.input__group .input__group__icon__left img{
    opacity:.5
}
.input__group .input__group__icon__right{
    border-radius:0 4px 4px 0
}
.input__container{
    position:relative
}
.input__container .delete__item{
    background-color:#ffe6ea;
    border:solid 1px #f44434;
    border-radius:50%;
    padding:20px;
    display:flex;
    width:40px;
    height:40px;
    justify-content:center;
    align-items:center;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    position:absolute;
    cursor:pointer;
    right:-45;
    top:50%;
    transform:translateY(-50%);
    opacity:0;
    visibility:hidden
}
.input__container .delete__item::after{
    content:url(../images/delete-icon.svg)
}
.input__container:hover .delete__item{
    opacity:1;
    visibility:visible
}
.input__container:hover .delete__item:hover{
    opacity:.8
}
.add_new{
    border:dashed 2px #d1d9e0;
    background-color:#f5f7f9;
    color:#657381;
    display:flex;
    justify-content:center;
    align-items:center;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    width:100%
}
.add_new:before{
    content:url(../images/add-icon.svg);
    margin-right:8px
}
.add_new:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#eff2f5;
    border:dashed 2px #c2ccd6
}
.add_new_success{
    border:none;
    background-color:#eff2f5;
    color:#657381;
    display:flex;
    justify-content:space-between;
    align-items:center;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    width:100%;
    border-radius:4px 0 0 4px
}
.add_new_success:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#f5f7f9
}
.thick_divider{
    max-width:40px;
    height:4px;
    appearance:none;
    background:#337ecc;
    border:none
}
.thin_divider{
    width:100%;
    margin:50px 0;
    height:1px;
    appearance:none;
    border:none;
    background-color:#d1d9e0
}
.thin_divider_overlap{
    width:100%;
    margin:50px 0;
    height:1px;
    appearance:none;
    border:none;
    background-color:#d1d9e0;
    width:calc(100% + 60px);
    margin-left:-30px
}
.hint{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:130%;
    font-size:1rem;
    color:#4c5967;
    display:inline-flex;
    align-items:center;
    margin-top:10px;
    color:#b3bfcc
}
.hint:before{
    content:url(../images/hint-info.svg);
    margin-right:5px
}
nav{
    height:85px;
    width:100%;
    background-color:#fff;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    padding:20px 0;
    position:fixed;
    z-index:100
}
nav .logotipo{
    display:flex
}
nav .logotipo img{
    display:block;
    max-height:40px
}
nav .navigation__itens{
    display:flex;
    margin-bottom: 0
}
nav .navigation__itens li a{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    margin-left:40px;
    color:#3d698f;
    position:relative;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    text-decoration: none
}
nav .navigation__itens li a .border-effect{
    height:4px;
    width:40px;
    background-color:#337ecc;
    display:block;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:10px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    opacity:0
}
nav .navigation__itens li a:hover{
    color:#2a526f;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
nav .navigation__itens li a:hover .border-effect{
    top:25px;
    opacity:1
}
nav .navigation__itens__cms{
    text-align:right
}
nav .navigation__itens__cms p{
    color:#657381
}
nav .navigation__itens__cms p b{
    font-weight:600
}
nav .navigation__itens__cms a{
    color:#b3bfcc;
    position:relative
}
nav .navigation__itens__cms a img{
    opacity:0;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    transform:rotate(180deg);
    position:absolute;
    right:0;
    top:4;
    visibility:hidden
}
nav .navigation__itens__cms a:hover img{
    visibility:visible;
    opacity:1;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    right:-20
}
#toggle{
    z-index:10;
    width:20px;
    height:20px;
    cursor:pointer;
    position:absolute;
    right:0;
    visibility:hidden;
    opacity:0
}
#toggle .span{
    height:2px;
    border-radius:2px;
    background:#3d698f;
    margin:5px auto;
    transition:all .3s ease-out;
    backface-visibility:hidden
}
#toggle.on #one{
    transform:rotate(45deg) translateX(4px) translateY(0)
}
#toggle.on #two{
    opacity:0
}
#toggle.on #three{
    transform:rotate(-45deg) translateX(10px) translateY(-6px)
}
#resize{
    z-index:20;
    position:fixed;
    top:85px;
    background:#2a526f;
    color:#fff;
    width:100%;
    height:100%;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    visibility:hidden;
    opacity:0;
    text-align:center
}
#resize li{
    padding:20px
}
#resize li a{
    color:#fff
}
#resize.active{
    visibility:visible;
    opacity:1;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
@media only screen and (max-width:992px){
    #toggle{
        visibility:visible;
        opacity:1
    }
    .navigation__itens{
        display:none!important
    }
}
.hero{
    background-image:url(../images/jesus-kiteque-wn-KYaHwcis-unsplash.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    height:100vh;
    text-align:center
}
.hero .hero__content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 85px)
}
.hero .hero__content h1{
    color:#2a526f;
    margin-bottom:30px
}
.hero .docked-bar{
    width:100%;
    color:#fff
}
.hero .docked-bar .talk-to-us{
    background-color:#2a526f;
    padding:0 40px;
    flex-basis:35%;
    flex-wrap:nowrap;
    text-align:right;
    height:85px;
    display:flex;
    align-items:center;
    justify-content:center
}
.hero .docked-bar .talk-to-us a{
    color:#fff;
    margin-left:10px
}
.hero .docked-bar .talk-to-us img{
    max-width:20px
}
.hero .docked-bar .hero__information{
    background-color:#264159;
    flex-basis:65%;
    height:85px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 40px
}
.hero .docked-bar .hero__information p{
    color:#fff;
    text-align:left
}
.category{
    padding:120px 0
}
.category h1{
    text-align:center;
    color:#2a526f;
    padding:100px 0
}
.animal__category,.cultivation__category{
    display:flex;
    flex-basis:50%;
    flex-wrap:nowrap;
    align-items:center;
    position:relative
}
.animal__category .infos__category,.cultivation__category .infos__category{
    background-color:#fff;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    border-radius:4px;
    padding:30px
}
.animal__category .infos__category h2,.cultivation__category .infos__category h2{
    color:#2a526f
}
.animal__category .infos__category hr,.cultivation__category .infos__category hr{
    margin:15px 0
}
.animal__category .infos__category p,.cultivation__category .infos__category p{
    margin-bottom:20px
}
.animal__category .infos__category a,.cultivation__category .infos__category a{
    width:100%;
    justify-content:center
}
.cultivation__category .home-pattern{
    position:absolute;
    left:240;
    bottom:13;
    z-index:0
}
.cultivation__category .infos__category{
    position:absolute;
    max-width:335px;
    left:120;
    z-index:1
}
.cultivation__category img{
    z-index:1
}
.animal__category{
    flex-direction:row-reverse
}
.animal__category .home-pattern{
    position:absolute;
    right:240;
    top:13;
    z-index:0
}
.animal__category .infos__category{
    position:absolute;
    max-width:335px;
    right:120;
    z-index:1
}
.animal__category img{
    z-index:1
}
.blog{
    background-color:#2a526f;
    border-top:solid 8px #264159;
    padding:100px 0;
    position:relative
}
.blog .blog__container{
    display:grid;
    grid-column-gap:20px;
    grid-template-columns:repeat(4,1fr)
}
.blog .blog__container .blog__introduction{
    flex-direction:column;
    height:370px;
    z-index:10;
    flex-basis:25%
}
.blog .blog__container .blog__introduction h2{
    color:#fff
}
.blog .blog__container .blog__introduction p{
    color:#b3bfcc;
    padding:20px 0 50px 0
}
.blog .blog__container .blog__introduction a{
    color:#337ecc
}
.blog .blog__container .blog__introduction a::after{
    content:url(../images/Arrow-Icon.svg);
    padding:10px
}
.blog .pattern{
    background-image:url(../images/pattern.svg);
    height:160px;
    opacity:.1;
    position:absolute;
    bottom:0;
    width:100%;
    background-position:center
}
.testimonials{
    background-image:url(../images/Dotted-map.svg);
    background-position:center right;
    background-repeat:no-repeat;
    padding:100px 0;
    width:100%;
    display:flex;
    flex-direction:column
}
.testimonials h2{
    color:#337ecc;
    margin-bottom:50px
}
.testimonials .flex-container{
    justify-content:flex-start
}
.testimonials .quote{
    width:100%;
    max-width:390px;
    margin-left:60px
}
.testimonials .quote blockquote{
    color:#657381;
    padding:15px 0 20px 0;
    position:relative
}
.testimonials .quote blockquote::before{
    content:url(../images/quote-mark.svg);
    background-repeat:no-repeat;
    position:absolute;
    left:-50;
    top:20
}
.testimonials .quote footer h4{
    color:#2a526f
}
.testimonials .quote footer p{
    color:#3d698f
}
.testimonials .quote:last-child{
    margin-left:100px
}
.cta__home{
    background-color:#2a526f;
    padding:120px 0 220px 0;
    border-top:solid 4px #337ecc;
    display:flex;
    justify-content:center;
    position:relative
}
.cta__home .cta__wrapper{
    width:100%;
    max-width:650px;
    text-align:center
}
.cta__home .cta__wrapper h2{
    color:#fff
}
.cta__home .cta__wrapper p{
    padding:15px 0 30px 0;
    color:#fff
}
.cta__home .pattern{
    background-image:url(../images/pattern.svg);
    height:100px;
    opacity:.1;
    position:absolute;
    bottom:0;
    width:100%;
    background-position:bottom
}
@media only screen and (max-width:992px){
    .hero .docked-bar .talk-to-us{
        flex-basis:40%;
        padding:0 20px
    }
    .hero .docked-bar .hero__information{
        flex-basis:60%;
        padding:0 20px
    }
    .animal__category .infos__category,.cultivation__category .infos__category{
        padding:25px 20px
    }
    .cultivation__category .home-pattern{
        left:200;
        bottom:30
    }
    .cultivation__category .infos__category{
        left:60;
        margin-right:10px
    }
    .animal__category .home-pattern{
        right:200;
        top:30
    }
    .animal__category .infos__category{
        right:60;
        margin-left:20px
    }
    .blog .blog__container{
        grid-column-gap:10px;
        grid-template-columns:repeat(3,1fr)
    }
    .blog .blog__container .card__post:last-child{
        display:none
    }
    .testimonials{
        background-image:none
    }
    .testimonials .title-large{
        text-align:center
    }
}
@media only screen and (max-width:768px){
    .hero .hero__content h1{
        font-size:3rem
    }
    .hero .docked-bar .talk-to-us{
        flex-basis:100%;
        justify-content:center
    }
    .hero .docked-bar .hero__information{
        display:none!important
    }
    .category .flex-container{
        flex-direction:column;
        align-items:normal
    }
    .category .flex-container .animal__category,.category .flex-container .cultivation__category{
        justify-content:center
    }
    .category .flex-container .animal__category img,.category .flex-container .cultivation__category img{
        width:100%
    }
    .category .flex-container .animal__category .infos__category,.category .flex-container .cultivation__category .infos__category{
        padding:25px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        bottom:50
    }
    .category .flex-container .animal__category{
        margin-top:80px
    }
    .category .flex-container .cultivation__category .home-pattern{
        display:none
    }
    .category .flex-container .animal__category .home-pattern{
        display:none
    }
    .blog .blog__container{
        grid-column-gap:10px;
        grid-template-columns:1fr
    }
    .blog .blog__container .card__post{
        margin-top:25px
    }
    .blog .blog__container .card__post:last-child{
        display:flex
    }
    .blog .blog__container .blog__introduction{
        text-align:center;
        flex-basis:90%;
        height:auto
    }
    .blog .blog__container .blog__introduction p{
        padding:20px 0
    }
    .testimonials{
        background-image:none
    }
    .testimonials .flex-container{
        flex-direction:column!important
    }
    .testimonials .flex-container .quote{
        width:auto;
        margin-top:30px
    }
    .testimonials .flex-container .quote:last-child{
        margin-left:60px
    }
    .testimonials .title-large{
        text-align:center
    }
}
@media only screen and (max-width:480px){
    .hero .hero__content h1{
        font-size:2.5rem
    }
    .hero .docked-bar .talk-to-us{
        height:60px
    }
    .category .flex-container .animal__category,.category .flex-container .cultivation__category{
        justify-content:center
    }
    .category .flex-container .animal__category .infos__category,.category .flex-container .cultivation__category .infos__category{
        bottom:0
    }
    .category .flex-container .animal__category{
        margin-top:120px
    }
    .blog .flex-container .blog__introduction{
        flex-basis:100%
    }
    .blog .flex-container .card__post{
        max-width:100%
    }
}
.main_footer{
    padding:100px 0;
    border-top:solid 6px #3d698f;
    position:relative;
    background-image:linear-gradient(#fff,#f5f7f9)
}
.main_footer .dots_pattern{
    background-image:url(../images/Dots-pattern.svg);
    background-repeat:no-repeat;
    width:100%;
    height:18px;
    position:absolute;
    top:3px
}
.main_footer .quality-badge{
    text-align:center
}
.main_footer .quality-badge img{
    margin-bottom:20px
}
.main_footer ul{
    display:flex;
    flex-basis:55%
}
.main_footer ul .footer__links{
    display:flex;
    flex-basis:250px;
    flex-direction:column
}
.main_footer ul .footer__links h4{
    color:#3d698f
}
.main_footer ul .footer__links a{
    margin:5px 0;
    color:#657381
}
.sub__footer{
    border-top:solid 1px #d1d9e0;
    padding:25px 0;
    background-color:#fff;
    position:relative
}
.sub__footer a{
    vertical-align:middle;
    color:#8a99a8;
    display:flex
}
.sub__footer a img{
    margin-right:5px
}
.sub__footer a strong{
    margin-left:5px;
    color:#657381
}
.sub__footer p{
    color:#8a99a8
}
@media only screen and (max-width:992px){
    .main_footer ul{
        flex-basis:80%;
        justify-content:flex-end
    }
    .main_footer ul .footer__links{
        margin-left:30px;
        flex-basis:auto
    }
    .main_footer ul .quality-badge{
        flex-basis:20%
    }
    .sub__footer{
        text-align:center
    }
    .sub__footer .flex-container p{
        max-width:50%
    }
}
@media only screen and (max-width:768px){
    .main_footer{
        padding-top:0;
        padding-bottom:25px
    }
    .main_footer .flex-container{
        flex-direction:column
    }
    .main_footer .flex-container .quality-badge{
        flex-basis:50%;
        margin-bottom:50px;
        margin-top:-62px
    }
    .main_footer .flex-container ul{
        flex-basis:100%;
        flex-direction:column;
        justify-content:center;
        width:100%;
        align-items:center
    }
    .main_footer .flex-container ul .footer__links{
        margin-left:0;
        flex-basis:100%;
        margin-bottom:25px;
        text-align:center
    }
    .main_footer .flex-container ul .footer__links a{
        margin:0
    }
    .sub__footer .flex-container{
        flex-direction:column
    }
    .sub__footer .flex-container p{
        max-width:100%;
        margin:10px 0
    }
    .sub__footer .flex-container a:first-child{
        display:none
    }
}
.common-header{
    height:280px;
    background-color:#2a526f;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding-bottom:35px
}
.common-header .header-wrapper{
    position:relative;
    width:100%;
    max-width:1250px;
    margin-left:auto;
    margin-right:auto
}
.common-header .header-wrapper h1{
    color:#fff
}
.common-header .pattern__header{
    background-image:url(../images/pattern.svg);
    height:280px;
    opacity:.1;
    position:absolute;
    top:0;
    width:100%;
    background-position:top
}
.products__animal__category,.products__cultivation__category{
    display:grid;
    padding:60px 0;
    grid-gap:20px;
    grid-template-columns:repeat(4,1fr)
}
.card__product{
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    border-radius:4px;
    background-color:#fff;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    display:flex;
    height:320px
}
.card__product:last-child{
    margin-right:0
}
.card__product a{
    width:100%
}
.card__product a .card__cover{
    max-height:70%;
    overflow:hidden
}
.card__product a .card__cover img{
    border-radius:4px 4px 0 0;
    width:100%;
    height:100%;
    object-fit:cover
}
.card__product:hover{
    opacity:.9;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    transform:translateY(-2px);
    box-shadow:0 0 2px rgba(0,0,0,.15),0 3px 4px rgba(0,0,0,.1)
}
.card__product .card__product-header{
    padding:25px;
    max-height:30%
}
.card__product .card__product-header h2{
    color:#2a526f
}
@media only screen and (max-width:992px){
    .products__animals__category,.products__cultivation__category{
        grid-template-columns:repeat(3,1fr)
    }
}
@media only screen and (max-width:768px){
    .products__animals__category,.products__cultivation__category{
        grid-template-columns:repeat(2,1fr)
    }
}
@media only screen and (max-width:480px){
    .products__animals__category,.products__cultivation__category{
        grid-template-columns:repeat(1,1fr)
    }
}
.products__general{
    display:flex;
    margin-top:-115px;
    justify-content:space-between;
    position:relative
}
.products__general .product__selected .card__product{
    max-width:100%;
    margin-right:0
}
.products__general .product__selected .back-to-products{
    color:#657381;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px
}
.products__general .product__selected .back-to-products::before{
    content:url(../images/Arrow-left.svg);
    padding:10px
}
.products__general .products__list{
    max-width:70%;
    margin-left:20px;
    margin-bottom:50px
}
.products__general .products__list>header{
    margin-bottom:70px
}
.products__general .products__list>header h2{
    color:#fff
}
.products__general .products__list>header p{
    color:#fff;
    padding-top:15px;
    font-size:1rem
}
.product{
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    border-radius:4px;
    margin-bottom:20px;
    position:relative;
    background-color:#fff
}
.product .clickable-area{
    width:100%;
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center
}
.product .clickable-area .product__header{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center
}
.product .clickable-area .product__header h3{
    color:#2a526f
}
.product .clickable-area .product__header .collapse__closed::after{
    content:url(../images/collapse-closed.svg)
}
.product .clickable-area .product__header .collapse__open::after{
    content:url(../images/collapse-open.svg)
}
.product .product__content{
    padding:0 30px 30px 30px;
    border-top:solid 1px #eff2f5
}
.product .product__application h3,.product .product__composition h3,.product .product__desciption h3,.product .product__differentials h3,.product .product__size__available h3,.product .product__usage h3{
    color:#2a526f;
    margin-top:40px
}
.product .product__size__available img{
    margin-top:10px
}
.product .product__differentials li{
    margin-bottom:15px
}
.product .product__differentials li::before{
    content:'•';
    font-size:2.5rem;
    color:#3d698f;
    vertical-align:sub
}
.products__list .product .exclusive__label{
    position:absolute;
    top:-23px;
    left:-22px
}
@media only screen and (max-width:992px){
    .products__general .products__list header p{
        display:none
    }
}
@media only screen and (max-width:768px){
    .products__general{
        display:flex;
        margin-top:-115px;
        justify-content:space-between;
        flex-direction:column
    }
    .products__general .products__list{
        max-width:100%;
        margin-left:0;
        margin-bottom:50px
    }
    .products__general .products__list>header{
        margin:25px auto 50px auto
    }
    .products__general .products__list>header h2{
        text-align:center
    }
    .products__general .product__selected .back-to-products{
        display:none
    }
}
.blog__latest{
    display:grid;
    grid-gap:20px;
    grid-template-columns:2fr 1fr 1fr;
    margin-top:60px;
    margin-bottom:60px
}
.card__post{
    border-radius:4px;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    background-color:#fff;
    flex-basis:25%;
    z-index:10;
    height:370px;
    display:flex;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms
}
.card__post:hover{
    opacity:.9;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    transform:translateY(-2px);
    box-shadow:0 0 2px rgba(0,0,0,.15),0 3px 4px rgba(0,0,0,.1)
}
.card__post a{
    width:100%
}
.card__post a .post__cover{
    max-height:70%;
    overflow:hidden
}
.card__post a .post__cover img{
    border-radius:4px 4px 0 0;
    height:100%;
    width:100%;
    object-fit:cover
}
.card__post .card__post__header{
    padding:25px;
    position:relative;
    max-height:30%
}
.card__post .card__post__header .post__date{
    background-color:#3d698f;
    color:#fff;
    border-radius:4px;
    padding:0 10px;
    font-size:12px;
    position:absolute;
    top:-12px
}
.card__post .card__post__header h3{
    color:#657381
}
.last__post,.post__hero__container{
    position:relative;
    display:flex;
    flex-basis:50%;
    height:370px
}
.last__post a,.post__hero__container a{
    width:100%
}
.last__post a .post__cover,.post__hero__container a .post__cover{
    max-height:100%;
    overflow:hidden
}
.last__post a .post__cover .fade-gradient,.post__hero__container a .post__cover .fade-gradient{
    background-image:linear-gradient(rgba(255,255,255,.1),rgba(0,0,0,.7));
    position:absolute;
    z-index:10;
    top:200;
    left:0;
    bottom:0;
    right:0;
    border-radius:4px
}
.last__post a .post__cover img,.post__hero__container a .post__cover img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:relative;
    border-radius:4px;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1)
}
.last__post a:hover,.post__hero__container a:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    transform:translateY(-2px);
    box-shadow:0 0 2px rgba(0,0,0,.15),0 3px 4px rgba(0,0,0,.1)
}
.last__post .card__post__header,.post__hero__container .card__post__header{
    position:absolute;
    bottom:25;
    left:25;
    right:25;
    z-index:20
}
.last__post .card__post__header h3,.post__hero__container .card__post__header h3{
    color:#fff;
    padding-top:10px
}
.last__post .card__post__header .post__date,.post__hero__container .card__post__header .post__date{
    background-color:#3d698f;
    color:#fff;
    border-radius:4px;
    padding:5px 10px;
    font-size:12px;
    margin-bottom:5px
}
.blog__older{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:20px;
    padding-bottom:60px
}
.blog__older h2{
    color:#3d698f;
    margin-bottom:20px;
    margin-top:60px
}
.blog__older .card__post:first-child{
    margin-left:0
}
.gray-background .main-wrapper>h2{
    margin-bottom:20px;
    padding-top:60px;
    color:#3d698f
}
.show-more{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 0 60px 0
}
@media only screen and (max-width:992px){
    .blog__latest{
        grid-template-columns:1fr 1fr
    }
    .blog__latest .card__post{
        flex-basis:100%
    }
    .blog__latest .card__post:last-child{
        display:none
    }
    .blog__older{
        grid-template-columns:repeat(2,1fr)
    }
}
@media only screen and (max-width:768px){
    .blog__latest .card__post .post__cover,.blog__older .card__post .post__cover{
        max-height:60%
    }
    .blog__latest .card__post .card__post__header,.blog__older .card__post .card__post__header{
        max-height:40%
    }
}
@media only screen and (max-width:480px){
    .blog__latest,.blog__older{
        grid-template-columns:1fr
    }
    .blog__latest .card__post .post__cover,.blog__older .card__post .post__cover{
        max-height:70%
    }
    .blog__latest .card__post .card__post__header,.blog__older .card__post .card__post__header{
        max-height:30%
    }
    .blog__latest .card__post:last-child,.blog__older .card__post:last-child{
        display:flex
    }
    .show-more{
        padding:50px 0
    }
}
.post__hero{
    width:100%;
    margin-top:-115px;
    border-bottom:solid 8px #3d698f;
    position:relative
}
.post__hero .post__hero__container{
    height:500px;
    width:100%;
    position:relative
}
.post__hero .post__hero__container a{
    pointer-events:none
}
.post__hero .post__hero__container a .post__cover .fade-gradient{
    border-radius:0
}
.post__content{
    margin-bottom:80px
}
.post__content .post__content__gallery,.post__content .post__content__image,.post__content .post__content__video,.post__content h1,.post__content h2{
    margin-top:40px
}
.post__content h1,.post__content h2{
    color:#2a526f
}
.post__content p{
    margin-top:20px;
    color:#657381
}
.post__content .post__content__gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-column-gap:10px;
    grid-row-gap:10px;
    grid-auto-rows:minmax(100px,170px)
}
.post__content .post__content__gallery .post__content__gallery__thumb{
    width:100%;
    height:100%;
    object-fit:cover
}
.post__content .post__content__image{
    width:100%
}
.post__content .post__content__image img{
    width:inherit
}
.post__content .back__to__blog{
    color:#337ecc;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin-top:50px;
    padding-top:50px;
    border-top:solid 1px #d1d9e0;
    width:100%
}
.post__content .back__to__blog::before{
    content:url(../images/back-to-blog.svg);
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    opacity:0
}
.post__content .back__to__blog:hover::before{
    margin-right:10px;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    opacity:1
}
.video-wrapper{
    position:relative;
    padding-bottom:56.25%;
    padding-top:25px;
    height:0
}
.video-wrapper iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
@media only screen and (max-width:992px){
    .post__hero .post__hero__container{
        height:300px
    }
}
@media only screen and (max-width:768px){
    .post__content .post__content__gallery{
        grid-template-columns:repeat(2,1fr)
    }
}
.split-content{
    display:flex;
    position:relative
}
.about__content{
    padding:250px 100px 100px 0;
    max-width:50%
}
.about__img__values{
    padding:250px 0 100px 100px;
    max-width:50%
}
.about__content{
    background-color:#2a526f
}
.about__content .about__history h1{
    color:#337ecc;
    margin-bottom:50px
}
.about__content .about__history p{
    color:#fff;
    margin:25px 0
}
.about__content p{
    margin-top:150px;
    color:#fff;
    margin-bottom:20px
}
.about__content .about__clients{
    margin-bottom:150px;
    float:left
}
.about__content .about__clients .about__clients__logos{
    background-color:#fff;
    border-left:solid 8px #3d698f;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    align-items:center;
    width:100%
}
.about__content .about__clients .about__clients__logos img{
    width:180px
}
.about__img__values img{
    width:100%
}
.half-green-background{
    position:fixed;
    right:50%;
    top:0;
    left:0;
    bottom:0;
    background:#2a526f
}
@media only screen and (max-width:992px){
    .about__content{
        padding:250px 50px 100px 0
    }
    .about__img__values{
        padding:250px 0 100px 50px
    }
}
@media only screen and (max-width:768px){
    .split-content{
        flex-direction:column-reverse;
        padding-top:150px
    }
    .split-content img{
        max-width:75%;
        margin-left:auto;
        margin-right:auto;
        display:block
    }
    .split-content .about__content,.split-content .about__img__values{
        max-width:100%;
        padding:25px 0;
        background-color:#264159
    }
    .split-content .about__content .about__clients{
        float:none
    }
    .split-content .about__content .about__clients .about__clients__logos{
        grid-column-gap:10px
    }
    .split-content .about__content>p{
        margin-top:50px
    }
    .half-green-background{
        display:none
    }
}
@media only screen and (max-width:480px){
    .split-content .about__content .about__clients .about__clients__logos{
        grid-template-columns:1fr 1fr
    }
    .split-content .about__content .about__clients .about__clients__logos img{
        width:100%
    }
}
.contact__block{
    padding:180px 0 250px 0;
    text-align:center
}
.contact__block h1{
    color:#3d698f;
    margin-bottom:10px
}
.contact__block p{
    color:#657381;
    text-align:center;
    max-width:65%;
    margin:0 auto
}
.contact__options{
    margin-top:80px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap:20px
}
.contact__options .contact__form,.contact__options .contact__infos{
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    border-radius:4px;
    background-color:#3d698f;
    padding:30px;
    width:100%
}
.contact__options .contact__form{
    background-color:#fff
}
.contact__options .contact__form button{
    width:100%;
    display:block
}
.contact__options .contact__infos{
    text-align:left;
    padding:30px
}
.contact__options .contact__infos div{
    margin-bottom:45px
}
.contact__options .contact__infos div .contact__infos__header{
    display:flex;
    align-content:center;
    margin-bottom:5px
}
.contact__options .contact__infos div .contact__infos__header h3{
    color:#fff;
    margin-left:10px
}
.contact__options .contact__infos div .contact__infos__header img{
    height:22px;
    width:22px
}
.contact__options .contact__infos a{
    color:#c2ccd6
}
.contact__options .contact__infos .contact__infos__social-media a{
    color:#fff;
    display:inline-block
}
@media only screen and (max-width:768px){
    .contact__block{
        padding:120px 0 100px 0
    }
    .contact__block p{
        width:100%;
        max-width:90%
    }
    .contact__block .contact__options{
        margin-top:30px;
        display:grid;
        grid-template-columns:1fr;
        grid-column-gap:20px
    }
    .contact__block .contact__options .contact__form{
        margin-bottom:25px
    }
    .contact__block .contact__options .contact__form,.contact__block .contact__options .contact__infos{
        padding:20px
    }
    .contact__block .contact__options .contact__infos{
        text-align:center;
        padding:35px 20px
    }
    .contact__block .contact__options .contact__infos .contact__infos__header{
        justify-content:center
    }
}
.form__login{
    margin:auto;
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    border-radius:4px;
    width:100%;
    max-width:390px
}
.form__login .form__login__content{
    padding:30px;
    background-color:#fff
}
.form__login .form__login__header{
    padding:30px;
    background-color:#f5f7f9;
    justify-content:center
}
.form__login .form__login__header h2{
    margin-left:10px;
    color:#657381
}
.form__login a{
    width:100%;
    text-align:center;
    display:flex;
    justify-content:center
}
.login__center{
    display:flex;
    align-items:center;
    justify-content:center;
    height:80vh
}
.cms__container{
    box-shadow:0 0 2px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:4px;
    margin-top:-100px;
    position:relative
}
.cms__container__header{
    border-radius:4px 4px 0 0;
    padding:22px 30px;
    background-color:#eff2f5
}
.cms__container__content{
    border-radius:0 0 4px 4px;
    background-color:#fff;
    padding:50px 30px 30px 30px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    min-height:550px
}
.cms__container__footer{
    border-radius:0 0 4px 4px;
    background-color:#fff;
    padding:30px;
    border-top:solid 1px #d1d9e0;
    margin-top:-1px
}
.cms__container__header .cms__container__header__tabs{
    display:flex;
    align-items:center
}
.cms__container__header .cms__container__header__tabs a{
    border:soldi 1px red;
    color:#8a99a8;
    margin-right:40px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms
}
.cms__container__header .cms__container__header__tabs a:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    color:#3d698f
}
.cms__container__header .cms__container__header__tabs .tab__active{
    position:relative;
    color:#3d698f
}
.cms__container__header .cms__container__header__tabs .tab__active:before{
    content:' ';
    width:100%;
    border-bottom:solid 5px #3d698f;
    position:absolute;
    bottom:-23px
}
.cms__container__content>p{
    margin-bottom:20px
}
.cms__container__content .cms__grid__items{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-gap:20px;
    margin-bottom:25px
}
.cms__container__content .cms__grid__items:last-child{
    margin-bottom:0
}
.cms__container__content .cms__grid__items .item__of__grid{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border:solid 2px #adcceb;
    background-color:#ebf2fa;
    border-radius:4px;
    padding:8px 25px;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    margin-top:20px;
    height:65px
}
.cms__container__content .cms__grid__items .item__of__grid .item__infos .body-large{
    color:#3d698f
}
.cms__container__content .cms__grid__items .item__of__grid .item__infos .body-medium{
    color:#4d7fb3
}
.cms__container__content .cms__grid__items .item__of__grid:hover{
    background-color:#d6e7f5;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
.cms__blog__grid .cms__grid__items{
    display:flex;
    margin-bottom:25px;
    align-items:center;
    flex-direction:column
}
.cms__blog__grid .cms__grid__items .item__of__grid{
    width:100%
}
.cms__blog__grid .cms__grid__items .item__infos__title{
    max-width:70%;
    min-width:70%
}
.cms__blog__grid .cms__grid__items .item__infos__title p{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.cms__blog__grid .cms__grid__items .item__infos__author{
    max-width:15%
}
.cms__blog__grid .cms__grid__items .item__infos__date{
    max-width:15%
}
.cms__grid__items .dropdown{
    margin-right:-12px
}
.simple-footer{
    margin:40px auto;
    text-align:center
}
.cms__grid__items .add_new{
    margin-top:20px
}
.cms__container__footer .button{
    margin-right:25px
}
.cms__container__footer .footer__delete,.cms__container__footer .footer__delete__disabled{
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    color:#f44434;
    display:flex;
    align-items:center;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    cursor:pointer
}
.cms__container__footer .footer__delete::before{
    content:url(../images/delete-icon.svg);
    margin-right:5px
}
.cms__container__footer .footer__delete:hover{
    transform:scale(.97);
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
.cms__container__footer .footer__delete__disabled{
    color:#c2ccd6;
    pointer-events:none
}
.cms__container__footer .footer__delete__disabled::before{
    content:url(../images/delete-icon-disabled.svg);
    margin-right:5px
}
.add_new{
    justify-content:flex-start
}
.cms__container__content .split__container>p{
    margin-bottom:20px
}
.add_new{
    justify-content:flex-start
}
.cms__container__content .split__container>p{
    margin-bottom:20px
}
.toggle__container{
    display:flex;
    flex-wrap:wrap
}
.toggle__container .toggle__holder{
    border-radius:4px;
    background-color:#f5f7f9;
    width:100%;
    max-width:49%;
    margin-right:2%;
    margin-bottom:10px;
    padding:10px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between
}
.toggle__container .toggle__holder:nth-child(even){
    margin-right:0
}
.toggle__container .toggle__holder__active{
    color:#4c5967
}
.cms__container__content .split__container .title-small:not(:first-child){
    margin-top:50px
}
.cms__container__content .split__container .thin_divider{
    margin:30px 0
}
.blog__toolbar__container{
    background-color:#f5f7f9;
    border-radius:4px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:50px;
    border:solid 1px #c2ccd6
}
.blog__toolbar__container .blog__toolbar__button{
    background-color:#f5f7f9;
    color:#4c5967;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    border-right:solid 1px #c2ccd6;
    padding:0 15px;
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    height:100%;
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    cursor:pointer
}
.blog__toolbar__container .blog__toolbar__button:last-child{
    border-right:0;
    border-radius:0 4px 4px 0
}
.blog__toolbar__container .blog__toolbar__button:first-child{
    border-radius:4px 0 0 4px
}
.blog__toolbar__container .blog__toolbar__button img{
    margin-right:5px
}
.blog__toolbar__container .blog__toolbar__button:hover{
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    background-color:#eff2f5
}
.blog__toolbar__container .toolbar__button__active{
    background-color:#d1d9e0
}
.blog__toolbar__container .toolbar__button__active:hover{
    background-color:#d1d9e0
}
.modal{
    z-index:200;
    width:100%;
    position:fixed;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:80;
    background-color:#fff;
    border-radius:4px;
    opacity:0;
    visibility:hidden
}
.modal__header{
    padding:25px;
    border-radius:4px 4px 0 0;
    background-color:#f5f7f9;
    display:flex;
    align-items:center;
    justify-content:center
}
.modal__header h2{
    margin-left:10px
}
.modal__content{
    padding:30px;
    background-color:#fff
}
.modal__footer{
    padding:30px;
    border-top:solid 1px #d1d9e0
}
.modal__small{
    width:100%;
    max-width:420px
}
.modal__small .modal__content{
    border-radius:4px;
    display:block;
    margin:0 auto;
    text-align:center;
    padding:30px 25px
}
.modal__small .modal__content .button{
    margin-right:0
}
.modal__small .modal__content p{
    margin:25px
}
.modal__medium{
    max-width:560px
}
.show-modal{
    opacity:1;
    visibility:visible;
    transition:visibility 0s linear 0s,opacity .25s 0s,transform .25s
}
.overlay{
    width:100%;
    height:100%;
    position:fixed;
    background-color:rgba(15,22,36,.9);
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:100;
    display:none
}
.modal .input__group{
    margin-bottom:0;
    margin-top:5px
}
.modal .button{
    margin-right:30px
}
.modal__drop__area{
    background-color:#ebf2fa;
    border:dashed 2px #adcceb;
    height:250px;
    border-radius:4px;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:135%;
    font-size:1.125rem;
    color:#4c5967;
    color:#3d698f;
    margin-bottom:25px;
    position:relative;
    padding-top:100px;
    cursor:pointer;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms
}
.modal__drop__area:before{
    position:absolute;
    left:auto;
    right:auto;
    top:50;
    -webkit-transition:ease-in 150ms;
    -moz-transition:ease-in 150ms;
    -o-transition:ease-in 150ms;
    transition:ease-in 150ms;
    content:url(../images/drop-area-modal-icon.svg)
}
.modal__drop__area:hover{
    background-color:#d6e7f5;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms;
    border:dashed 2px #8caed9
}
.modal__drop__area:hover:before{
    top:45;
    -webkit-transition:ease-out 150ms;
    -moz-transition:ease-out 150ms;
    -o-transition:ease-out 150ms;
    transition:ease-out 150ms
}
.modal__drop__area span:not(:first-child){
    font-family:proxima-nova,sans-serif;
    font-weight:500;
    font-style:normal;
    line-height:130%;
    font-size:1rem;
    color:#4c5967;
    color:#4d7fb3;
    padding-top:20px
}
.cta__dashboard {
    background-color: #2a526f;
    padding: 120px 0 0px 0;
    border-top: solid 4px #337ecc;
    display: flex;
    justify-content: center;
    position: relative;
}
.cta__dashboard .cta__wrapper{
    width:100%;
    max-width:650px;
    text-align:center
}
.cta__dashboard .cta__wrapper h2{
    color:#fff
}
.cta__dashboard .cta__wrapper p{
    padding:15px 0 30px 0;
    color:#fff
}
.cta__dashboard .pattern{
    background-image:url(../images/pattern.svg);
    height:100px;
    opacity:.1;
    position:absolute;
    bottom:0;
    width:100%;
    background-position:bottom
}
